<%- include('./layout/head.ejs')%>

<body>


    <%- include('./layout/navigation.ejs')%>


    <div class="main-content">
        <div class="section-content section-content-p30">
            <div class="container-fluid">
                <div class="row">
                    <%if (cart==null){%>
                    <h2>No item in the Shopping Cart</h2>

                    <%}else{%>

                    <h2>Shopping Cart Details</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Type</th>
                                <th scope="col">Quantity</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i = 0;i < cart.products.length;i++){
                                let product=cart.products[i];
                           %>
                            <tr>
                                <th scope="row"><%=i%></th>
                                <td><%=product.name%></td>
                                <td><%=product.price%></td>
                                <td><%=product.type%></td>
                                <td><%=product.qty%></td>
                                <td>
                                    <form action="/delete-cart" method="POST">
                                        <input type="hidden" name="prodId" value="<%=product.id%>">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>


                            </tr>
                            <%}%>
                        <tr>
                            <td>Total Price: </td> <td colspan="1"><%=cart.totalPrice%></td>
                            </tr>

                        </tbody>
                    </table>
                    <%}%>


                </div>

            </div>

        </div>

    </div>
    <%- include('./layout/footer.ejs')%>