<%- include('./layout/head.ejs')%>

<body>


     <%- include('./layout/navigation.ejs')%>


     <div class="main-content">
          <div class="section-content section-content-p30">
               <div class="container-fluid">
                    <div class="row">


                         <% for(let prods of products){ %>


                         <div class="col-md-3">
                              <div class="product-box">
                                   <img src="<%=prods.imageURL%>" class="img-responsive" alt="image not found">
                                   <h1>Name: <%=prods.name%></h1>
                                   <h1>Price: <%=prods.price%> <span>&#36</span></h1>
                                             <div class="price"> Catagory:<%=prods.type%> </div>
                                             <div class="price">Description:<%=prods.description%></div>
                                             <a href="/Edit-product" class="btn btn-info"> Edit </a>
                                             <a href="" class="btn btn-info"> add to Cart </a>
                                             <form method="POST" action="/delete-product">
                                                  <button class="btn btn-danger">Delete</button>
                                             </form>
                                             <a href="" class="btn btn-warning"> Detail </a>
                              </div>
                         </div>

                         <% }%>



                    </div>

               </div>

          </div>

     </div>
     <%- include('./layout/footer.ejs')%>